/* fira sans regular */
@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/fira-sans-v10-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/fira-sans-v10-latin_cyrillic-regular.woff") format("woff");
}

/* fira sans medium */
@font-face {
  font-family: "Fira Sans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/fira-sans-v10-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/fira-sans-v10-latin_cyrillic-500.woff") format("woff");
}